{% extends 'base.html.twig' %}

{% block titre %}<h1>COMMENTAIRES</h1>{% endblock %}

{% block body %}
<section class="commentaireShow">
        {% for commentaire in commentaires %}
              <div class="blockCom">
                      <p class="comment"><i class="fa fa-quote-left" aria-hidden="true"></i>
{{ commentaire.comment }} <i class="fa fa-quote-right" aria-hidden="true"></i>
</p>
                      <p class="name"> {{ commentaire.name }}</p>
                </div>
        {% endfor %}
</section>
{% endblock %}
