{% extends 'base.html.twig' %}

{% block commentaire %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          Commenter
        </button>
    {{ form_end(form) }}


{% endblock %}
